.site-main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#tituloprincipal {
    font-family: 'daydream-regular', sans-serif;
}
