@font-face {
    font-family:'MeuTexto';  /* Dê um nome à sua fonte */
    src: url('font1.ttf') format('truetype');
    /* Adicione outros formatos de fonte, se necessário, como woff, woff2, etc. */
}

@font-face {
    font-family:'MeuTexto2';  /* Dê um nome à sua fonte */
    src: url('font2.ttf') format('truetype');
    /* Adicione outros formatos de fonte, se necessário, como woff, woff2, etc. */
}



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #54658f;
}

.título{
    margin-top: 800px;
    height: 100px;
    animation: floatAnimation 2s ease-in-out infinite;

}

@keyframes floatAnimation {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

header {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header h1 {
    margin-top: 30px;
}

header h1 img.título {
    height: 20vh;
    animation: floatAnimation 2s ease-in-out infinite;
}

header nav{
    margin-top: 30px; 
}

/* Adicione estas regras CSS para estilizar os botões das categorias */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    font-family:'MeuTexto2', sans-serif;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    border-radius: 0; /* Ajuste este valor para alterar o arredondamento das bordas */
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #333;
    color: #fff;
    transform: scale(1.1); /* Ajuste este valor para alterar o nível de escala da animação */
}


section {
    text-align: left;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'MeuTexto', sans-serif;
}

section h2 {
    text-align: center;
    
}

p1 {
    max-width: 600px; 
    padding: 20px;
}

#inicio{
    background-color: white; 
    width: 100vw; 
    margin: 0; 
    box-sizing: border-box; 
    flex-direction: row; /* Altera a direção para linha */
    justify-content: space-between;
    align-items: flex-start; /* Alinha os itens ao início (borda superior) */
}

#inicio img {
    max-width: 300px;

}



#game-container {
    text-align: center;
    width: 50%; 
    height: 70%; 
    margin: 20px auto; 
    background-color: #f0f0f0; 
}

#pato{
    position:static;
    bottom: 0;
    left: 0;
    width: 50px; /* Ajuste conforme necessário */
    height: auto;
    animation: andarPato 30s linear infinite; 
}

@keyframes andarPato {
    0%, 100% {
        transform: translateX(0) scaleX(1);
    }
    50% {
        transform: translateX(50vw) scaleX(1);
    }
}


footer {
    font-family: 'MeuTexto', sans-serif;
    text-align: center;
    margin-top: auto;
    padding: 10px;
    background-color: #285073;
    width: 100%;
}

footer p{
    color: azure;

}
